.main {
  grid-area: main;
  transition: all .25s;
  background-color: #fbfcfe;
  margin-top: 20px;
  img {
    height: 250px;
    object-fit: cover;
  }
}
.content {
  display: flex;
  flex-direction: column;
}