ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-rows: 96px 1fr;
    grid-template-areas: "header header"
                         "navigation main";
    min-height: 100vh;
    overflow: hidden;
    opacity: 1;
    transition: all .25s ease-in;
    z-index: 1;
}
